h1 {color: red;}
           img {width: 400px;}
           thirdDiv {height: 600px;
                       width: 500px;}
           thirDiv {background: green;} 
           spanID {font-size: 18px;}
           spanID {margin: 50px;}
           thirdDiv {padding: 50px;}
           thirdDiv {border: 1px solid black;}